In [2]:
import json 
import pandas as pd 
import numpy as np 
import re

In [3]:
file_dir = 'C://Users/penlo/OneDrive/Desktop/Analysis Projects/Movies-ETL/'

In [4]:
with open(f'{file_dir}wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [5]:
len(wiki_movies_raw)

7311

In [6]:
wiki_movies_raw[:1]

[{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098987/',
  'title': 'The Adventures of Ford Fairlane',
  'Directed by': 'Renny Harlin',
  'Produced by': ['Steve Perry', 'Joel Silver'],
  'Screenplay by': ['David Arnott', 'James Cappe', 'Daniel Waters'],
  'Story by': ['David Arnott', 'James Cappe'],
  'Based on': ['Characters', 'by Rex Weiner'],
  'Starring': ['Andrew Dice Clay',
   'Wayne Newton',
   'Priscilla Presley',
   'Lauren Holly',
   'Morris Day',
   'Robert Englund',
   "Ed O'Neill"],
  'Narrated by': 'Andrew "Dice" Clay',
  'Music by': ['Cliff Eidelman', 'Yello'],
  'Cinematography': 'Oliver Wood',
  'Edited by': 'Michael Tronick',
  'Productioncompany ': 'Silver Pictures',
  'Distributed by': '20th Century Fox',
  'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
  'Running time': '102 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$21.4 million'}]

In [7]:
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [8]:
kaggle_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
16518,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,20332,tt1369567,en,"Russell Peters: Red, White and Brown","In this sold-out performance, Canadian comic R...",...,2008-10-07,0.0,57.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Russell Peters: Red, White and Brown",False,7.2,12.0
43422,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://www.lewisblack.com/,37406,tt0814187,en,"Lewis Black: Red, White & Screwed",Lewis Black stars in his second HBO solo speci...,...,2006-06-10,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,the way I see it...,"Lewis Black: Red, White & Screwed",False,5.5,12.0
8679,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,38646,tt0067483,en,Nicholas and Alexandra,"Biography of the last Russian Monarch, Tsar Ni...",...,1971-11-29,0.0,189.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Nicholas and Alexandra,False,7.0,23.0
33256,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",http://www.solitarymovie.com/,72642,tt1327763,en,Solitary,"Sara (Amber Jaeger) suffers from agoraphobia, ...",...,2009-03-29,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some Mysteries Must Be Solved Alone,Solitary,False,5.8,3.0
4407,False,"{'id': 89272, 'name': 'The Man From Snowy Rive...",3500000,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",NaN,24266,tt0084296,en,The Man from Snowy River,Jim Craig has lived his first 18 years in the ...,...,1982-03-02,20659423.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The story of a boy suddenly alone in the world...,The Man from Snowy River,False,6.9,38.0

In [9]:
ratings.sample(n=3)

          userId  movieId  rating   timestamp
24421903  253712     1345     4.0   864651799
21043647  218699     6666     0.5  1483379413
17700329  183615    34150     5.0  1342230565

In [10]:
kaggle_metadata.count()

adult                    45466
belongs_to_collection     4494
budget                   45466
genres                   45466
homepage                  7782
id                       45466
imdb_id                  45449
original_language        45455
original_title           45466
overview                 44512
popularity               45461
poster_path              45080
production_companies     45463
production_countries     45463
release_date             45379
revenue                  45460
runtime                  45203
spoken_languages         45460
status                   45379
tagline                  20412
title                    45460
video                    45460
vote_average             45460
vote_count               45460
dtype: int64

In [11]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)
wiki_movies_df.sample(n=3)

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
4024,https://en.wikipedia.org/wiki/The_Thing_About_...,2005.0,https://www.imdb.com/title/tt0429177/,The Thing About My Folks,Raymond De Felitta,"[Paul Reiser, Robert Newmyer, Jeffrey Silver]",NaN,NaN,NaN,"[Peter Falk, Paul Reiser, Olympia Dukakis]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1286,https://en.wikipedia.org/wiki/Forget_Paris,1995.0,https://www.imdb.com/title/tt0113097/,Forget Paris,Billy Crystal,Billy Crystal,NaN,NaN,NaN,"[Billy Crystal, Debra Winger, Joe Mantegna, Ju...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2323,https://en.wikipedia.org/wiki/I%27ll_Be_Home_f...,1998.0,https://www.imdb.com/title/tt0155753/,I'll Be Home for Christmas,Arlene Sanford,"[Robin French, Justis Greene, David Hoberman, ...","[Tom Nursall, Harris Goldberg]",Michael Allin,NaN,"[Jonathan Taylor Thomas, Jessica Biel, Adam La...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# wiki_movies_df.columns.to_list()

In [13]:
wiki_movies = [movie for movie in wiki_movies_raw
                if ('Director' in movie or 'Directed by' in movie)
                and ('imdb_link' in movie)
                and 'No. of episodes' not in movie]
len(wiki_movies)

7076

In [14]:
wiki_movies_df = pd.DataFrame(wiki_movies)
wiki_movies_df.columns.size

75

In [15]:
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Hepburn,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish
6834,https://en.wikipedia.org/wiki/The_Insult_(film),2018,https://www.imdb.com/title/tt7048622/,The Insult,Ziad Doueiri,"[Rachid Bouchareb, Jean Bréhat, Julie Gayet, A...",NaN,NaN,NaN,"[Adel Karam, Kamel El Basha]",...,NaN,Case No. 23,NaN,NaN,NaN,قضية رقم ٢٣,Qadiyya raqm 23,NaN,NaN,NaN
7058,https://en.wikipedia.org/wiki/Capernaum_(film),2018,https://www.imdb.com/title/tt8267604/,Capernaum,Nadine Labaki,"[Michel Merkt, Khaled Mouzanar]","[Nadine Labaki, Jihad Hojaily, Michelle Keserw...","[Georges Khabbaz, Nadine Labaki, Michelle Kese...",NaN,"[Zain Al Rafeea, Yordanos Shiferaw, Boluwatife...",...,NaN,NaN,NaN,NaN,NaN,کفرناحوم‎,NaN,NaN,NaN,NaN

In [16]:
def clean_movie(movie):
    movie = dict(movie) # creates a non-destructive, local copy of the original movie dictionary

    # combine foreign language columns (as dictionaries) into one column (dictionary called alt_titles)
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge similar columns that have disparate headers, but the same info 
    # such as 'Directed by' merges into 'Director', or 'Country of origin' becomes simply 'Country'
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
     
    # columns to change
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [17]:
# run the movies through the cleaning function above and add the cleaned list to a DataFrame
clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies) 
wiki_movies_df.columns.size

39

In [18]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))

7076

In [19]:
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))

7033

In [20]:
wiki_movies_df.count()

url                       7033
year                      7033
imdb_link                 7033
title                     7032
Based on                  2181
Starring                  6849
Narrated by                281
Cinematography            6342
Release date              7001
Running time              6894
Country                   6797
Language                  6789
Budget                    4738
Box office                5485
Director                  7033
Distributor               6676
Editor(s)                 6485
Composer(s)               6515
Producer(s)               6831
Production company(s)     5355
Writer(s)                 6834
Genre                      110
Original language(s)       158
Original network           125
Executive producer(s)       97
Production location(s)      47
Picture format              64
Audio format                61
Voices of                    2
Followed by                  9
Created by                  10
Preceded by                 10
Suggested by                 1
alt_titles                  21
Recorded                     2
Venue                        1
Label                        2
Animation by                 2
Color process                1
imdb_id                   7033
dtype: int64

In [21]:
wiki_movies_df.isnull().sum()

url                          0
year                         0
imdb_link                    0
title                        1
Based on                  4852
Starring                   184
Narrated by               6752
Cinematography             691
Release date                32
Running time               139
Country                    236
Language                   244
Budget                    2295
Box office                1548
Director                     0
Distributor                357
Editor(s)                  548
Composer(s)                518
Producer(s)                202
Production company(s)     1678
Writer(s)                  199
Genre                     6923
Original language(s)      6875
Original network          6908
Executive producer(s)     6936
Production location(s)    6986
Picture format            6969
Audio format              6972
Voices of                 7031
Followed by               7024
Created by                7023
Preceded by               7023
Suggested by              7032
alt_titles                7012
Recorded                  7031
Venue                     7032
Label                     7031
Animation by              7031
Color process             7032
imdb_id                      0
dtype: int64

In [22]:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]
wiki_movies_df.columns.size

21

In [23]:
wiki_movies_df.count()

url                      7033
year                     7033
imdb_link                7033
title                    7032
Based on                 2181
Starring                 6849
Cinematography           6342
Release date             7001
Running time             6894
Country                  6797
Language                 6789
Budget                   4738
Box office               5485
Director                 7033
Distributor              6676
Editor(s)                6485
Composer(s)              6515
Producer(s)              6831
Production company(s)    5355
Writer(s)                6834
imdb_id                  7033
dtype: int64

In [24]:
wiki_movies_df.dtypes

url                      object
year                      int64
imdb_link                object
title                    object
Based on                 object
Starring                 object
Cinematography           object
Release date             object
Running time             object
Country                  object
Language                 object
Budget                   object
Box office               object
Director                 object
Distributor              object
Editor(s)                object
Composer(s)              object
Producer(s)              object
Production company(s)    object
Writer(s)                object
imdb_id                  object
dtype: object

In [25]:
wiki_movies_df['Budget'].sample(n=10)

6745                      NaN
1902                      NaN
6823              $40 million
1302                      NaN
232                       NaN
2855               $2 million
1509                      NaN
5834    Less than $10 million
3159        [US$, 30 million]
2585              $51 million
Name: Budget, dtype: object

In [88]:
box_office = wiki_movies_df['Box office'].dropna()

In [89]:
def is_not_a_string(x):
    return type(x) != str

In [90]:
box_office[box_office.map(lambda x: type(x) != str)]  # is_not_a_string function replaced with lambda function

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [91]:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)   # joins the values with a space (' ') only if they are list data type
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)
len(box_office)

5485

In [98]:
# Create regex's, see how many values in the box_office series contain these expressions, and add the sums together
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illi?on)'
box_office.str.contains(form_one, flags=re.IGNORECASE).sum() + box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

5468

In [99]:
# create a list of box_office values that don't match either of our regex's (and get a count just for gits and shiggles)
no_list = []
for i in box_office:
    if not (re.search(form_one, i, flags=re.IGNORECASE)) and not (re.search(form_two, i, flags=re.IGNORECASE)):
        no_list.append(i)
print(f'Not matched by regexs:{len(no_list)}')
# no_list

Not matched by regexs:19

In [100]:
# Another method to see what fields are not 'caught' by our regex's
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)
box_office[~matches_form_one & ~matches_form_two]

600                      $5000 (US)
1070                     35,254,617
1480                     £3 million
1865                   ¥1.1 billion
2032                            N/A
2091                           $309
2665    926,423 admissions (France)
3631                            TBA
3879       CN¥3.650 million (China)
4116                     £7,385,434
4306                            $30
4561        $45.2k (only in Turkey)
5447                          £2.56
5784                       413 733$
6013                        Unknown
6369                          $111k
6370                           $588
6593                 less than $372
6843                        8 crore
Name: Box office, dtype: object

In [ ]:
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan
    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*[mb]illi?on', s, flags=re.IGNORECASE): 
        # remove dollar sign and " million"

        # convert to float and multiply by a million

        # return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illi?on)', s, re.IGNORECASE)
        # remove dollar sign and " billion"

        # convert to float and multiply by a billion

        # return value

    # if input is of the form $###,###,###

        # remove dollar sign and commas

        # convert to float

        # return value

    # otherwise, return NaN