In [142]:
import json 
import pandas as pd 
import numpy as np 
import re

In [90]:
file_dir = 'C://Users/penlo/OneDrive/Desktop/Analysis Projects/Movies-ETL/'

In [91]:
with open(f'{file_dir}wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [92]:
len(wiki_movies_raw)

7311

In [93]:
wiki_movies_raw[:1]

[{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098987/',
  'title': 'The Adventures of Ford Fairlane',
  'Directed by': 'Renny Harlin',
  'Produced by': ['Steve Perry', 'Joel Silver'],
  'Screenplay by': ['David Arnott', 'James Cappe', 'Daniel Waters'],
  'Story by': ['David Arnott', 'James Cappe'],
  'Based on': ['Characters', 'by Rex Weiner'],
  'Starring': ['Andrew Dice Clay',
   'Wayne Newton',
   'Priscilla Presley',
   'Lauren Holly',
   'Morris Day',
   'Robert Englund',
   "Ed O'Neill"],
  'Narrated by': 'Andrew "Dice" Clay',
  'Music by': ['Cliff Eidelman', 'Yello'],
  'Cinematography': 'Oliver Wood',
  'Edited by': 'Michael Tronick',
  'Productioncompany ': 'Silver Pictures',
  'Distributed by': '20th Century Fox',
  'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
  'Running time': '102 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$21.4 million'}]

In [94]:
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [95]:
kaggle_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
38727,False,"{'id': 261307, 'name': 'Alice in Wonderland Co...",170000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/alice-through-the-loo...,241259,tt2567026,en,Alice Through the Looking Glass,"In the sequel to Tim Burton's ""Alice in Wonder...",...,2016-05-25,299370084.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's time for a little madness.,Alice Through the Looking Glass,False,6.5,1782.0
10233,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,72899,tt0066109,en,The Music Lovers,"Composer, conductor and teacher Peter Ilych Tc...",...,1970-12-01,0.0,123.0,"[{'iso_639_1': 'hu', 'name': 'Magyar'}, {'iso_...",Released,NaN,The Music Lovers,False,6.5,12.0
39861,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,41125,tt0084893,en,We of the Never Never,Based on the well-loved Australian classic by ...,...,1982-11-04,0.0,134.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The story of the love and courage of a remarka...,We of the Never Never,False,7.0,2.0
10998,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://www.theomenmovie.com/,806,tt0466909,en,The Omen,A diplomatic couple adopts the son of the devi...,...,2006-06-06,119188334.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A new generation of terror,The Omen,False,5.3,287.0
34760,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,40469,tt0082378,en,Final Exam,"In a small college in North Carolina, only a s...",...,1981-06-05,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some may pass the test… God help the rest.,Final Exam,False,4.9,18.0

In [96]:
ratings.sample(n=3)

          userId  movieId  rating   timestamp
19576003  203360    91658     3.0  1461956072
9800007   101110     2926     3.0   945066308
19276490  200212      344     3.0   833055125

In [97]:
kaggle_metadata.count()

adult                    45466
belongs_to_collection     4494
budget                   45466
genres                   45466
homepage                  7782
id                       45466
imdb_id                  45449
original_language        45455
original_title           45466
overview                 44512
popularity               45461
poster_path              45080
production_companies     45463
production_countries     45463
release_date             45379
revenue                  45460
runtime                  45203
spoken_languages         45460
status                   45379
tagline                  20412
title                    45460
video                    45460
vote_average             45460
vote_count               45460
dtype: int64

In [98]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)
wiki_movies_df.sample(n=3)

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
3296,https://en.wikipedia.org/wiki/Rollerball_(2002...,2002.0,https://www.imdb.com/title/tt0246894/,Rollerball,John McTiernan,"[John McTiernan, Charles Roven, Beau St. Clair]","[Larry Ferguson, John Pogue]",NaN,"[""Roller Ball Murder"", by, William Harrison, 1...","[Chris Klein, Jean Reno, LL Cool J, Rebecca Ro...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929,https://en.wikipedia.org/wiki/Blown_Away_(1994...,1994.0,https://www.imdb.com/title/tt0109303/,Blown Away,Stephen Hopkins,"[Pen Densham, Richard Barton Lewis, John Watson]",NaN,"[John Rice, Joe Batteer]",NaN,"[Jeff Bridges, Tommy Lee Jones, Lloyd Bridges,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2630,https://en.wikipedia.org/wiki/Random_Hearts,1999.0,https://www.imdb.com/title/tt0156934/,Random Hearts,Sydney Pollack,"[Martin Jurow, Marykay Powell]",Kurt Luedtke,NaN,"[Random Hearts, by, Warren Adler]","[Harrison Ford, Kristin Scott Thomas, Charles ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
# wiki_movies_df.columns.to_list()

In [100]:
wiki_movies = [movie for movie in wiki_movies_raw
                if ('Director' in movie or 'Directed by' in movie)
                and ('imdb_link' in movie)
                and 'No. of episodes' not in movie]
len(wiki_movies)

7076

In [101]:
wiki_movies_df = pd.DataFrame(wiki_movies)
wiki_movies_df.columns.size

75

In [102]:
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Hepburn,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish
6834,https://en.wikipedia.org/wiki/The_Insult_(film),2018,https://www.imdb.com/title/tt7048622/,The Insult,Ziad Doueiri,"[Rachid Bouchareb, Jean Bréhat, Julie Gayet, A...",NaN,NaN,NaN,"[Adel Karam, Kamel El Basha]",...,NaN,Case No. 23,NaN,NaN,NaN,قضية رقم ٢٣,Qadiyya raqm 23,NaN,NaN,NaN
7058,https://en.wikipedia.org/wiki/Capernaum_(film),2018,https://www.imdb.com/title/tt8267604/,Capernaum,Nadine Labaki,"[Michel Merkt, Khaled Mouzanar]","[Nadine Labaki, Jihad Hojaily, Michelle Keserw...","[Georges Khabbaz, Nadine Labaki, Michelle Kese...",NaN,"[Zain Al Rafeea, Yordanos Shiferaw, Boluwatife...",...,NaN,NaN,NaN,NaN,NaN,کفرناحوم‎,NaN,NaN,NaN,NaN

In [107]:
def clean_movie(movie):
    movie = dict(movie) # creates a non-destructive, local copy of the original movie dictionary

    # combine foreign language columns (as dictionaries) into one column (dictionary called alt_titles)
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge similar columns that have disparate headers, but the same info 
    # such as 'Directed by' merges into 'Director', or 'Country of origin' becomes simply 'Country'
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
     
    # columns to change
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [115]:
# run the movies through the cleaning function above and add the cleaned list to a DataFrame
clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies) 
wiki_movies_df.columns.size

39

In [116]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))

7076

In [117]:
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))

7033

In [118]:
wiki_movies_df.count()

url                       7033
year                      7033
imdb_link                 7033
title                     7032
Based on                  2181
Starring                  6849
Narrated by                281
Cinematography            6342
Release date              7001
Running time              6894
Country                   6797
Language                  6789
Budget                    4738
Box office                5485
Director                  7033
Distributor               6676
Editor(s)                 6485
Composer(s)               6515
Producer(s)               6831
Production company(s)     5355
Writer(s)                 6834
Genre                      110
Original language(s)       158
Original network           125
Executive producer(s)       97
Production location(s)      47
Picture format              64
Audio format                61
Voices of                    2
Followed by                  9
Created by                  10
Preceded by                 10
Suggested by                 1
alt_titles                  21
Recorded                     2
Venue                        1
Label                        2
Animation by                 2
Color process                1
imdb_id                   7033
dtype: int64

In [121]:
wiki_movies_df.isnull().sum()

url                          0
year                         0
imdb_link                    0
title                        1
Based on                  4852
Starring                   184
Narrated by               6752
Cinematography             691
Release date                32
Running time               139
Country                    236
Language                   244
Budget                    2295
Box office                1548
Director                     0
Distributor                357
Editor(s)                  548
Composer(s)                518
Producer(s)                202
Production company(s)     1678
Writer(s)                  199
Genre                     6923
Original language(s)      6875
Original network          6908
Executive producer(s)     6936
Production location(s)    6986
Picture format            6969
Audio format              6972
Voices of                 7031
Followed by               7024
Created by                7023
Preceded by               7023
Suggested by              7032
alt_titles                7012
Recorded                  7031
Venue                     7032
Label                     7031
Animation by              7031
Color process             7032
imdb_id                      0
dtype: int64

In [122]:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]
wiki_movies_df.columns.size

21

In [123]:
wiki_movies_df.count()

url                      7033
year                     7033
imdb_link                7033
title                    7032
Based on                 2181
Starring                 6849
Cinematography           6342
Release date             7001
Running time             6894
Country                  6797
Language                 6789
Budget                   4738
Box office               5485
Director                 7033
Distributor              6676
Editor(s)                6485
Composer(s)              6515
Producer(s)              6831
Production company(s)    5355
Writer(s)                6834
imdb_id                  7033
dtype: int64

In [124]:
wiki_movies_df.dtypes

url                      object
year                      int64
imdb_link                object
title                    object
Based on                 object
Starring                 object
Cinematography           object
Release date             object
Running time             object
Country                  object
Language                 object
Budget                   object
Box office               object
Director                 object
Distributor              object
Editor(s)                object
Composer(s)              object
Producer(s)              object
Production company(s)    object
Writer(s)                object
imdb_id                  object
dtype: object

In [134]:
wiki_movies_df['Budget'].sample(n=10)

2658              NaN
1731      $31 million
3439    $12.6 million
2756              NaN
1021      $25 million
1409      $14 million
3644      $25 million
4375              NaN
6133     $110 million
2002       $5,765,562
Name: Budget, dtype: object

In [135]:
box_office = wiki_movies_df['Box office'].dropna()

In [136]:
def is_not_a_string(x):
    return type(x) != str

In [138]:
box_office[box_office.map(lambda x: type(x) != str)]  # is_not_a_string function replaced with lambda function

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [139]:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)   # joins the values with a space (' ') only if they are list data type

In [144]:
import requests